# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyo
*.pyc
*.pyo
__pycache__

# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Compiled files
*.pyc

# Temporary files
*.pyo
*.~
*.swp

# Ignore .env file containing sensitive information
.env

# Ignore config.py file (if you've moved sensitive information to this file)
config.py

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
Desktop.ini

# output files
*.csv